.app-layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  min-width: 0;
  background: var(--bg);
}

@media (min-width: 801px) {
  .main-content {
    border-left: 3px solid var(--border);
  }
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
}

#sidebar-close {
  width: 80px;
}

