.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  min-width: 0;
  background: #020617;
}

@media (min-width: 801px) {
  .main-content {
    border-left: 2px solid #0f0f0f;
  }
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
}

#sidebar-close {
  width: 80px;
}

