* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#sidebar-open {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    max-width: 23%;
    min-width: 250px;
    transition: all 0.3s ease;
}

#sidebar-close{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    max-width: 100px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menubtn{
    color: #9ca3af;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menubtn:hover{
    color: white;
}

.logodiv {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 10px;
    justify-content: space-between;
}

.logo-close {
    transition: all 0.3s ease;
    display: none;
}

.logoImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    mix-blend-mode: lighten;
}

.logo {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #3b82f6, #22c55e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo b{
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.sidebar-link {
    width: 100%;
    padding: 4px 0px;
    /* border-radius: 8px; */
    color: rgb(176, 174, 174);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-link:hover {
    width: 100%;
    padding: 4px 15px;
    /* border-radius: 8px; */
    border-left: 3px blue solid;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.isActive {
    width: 100%;
    padding: 4px 15px;
    /* border-radius: 8px; */
    border-left: 3px blue solid;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoutdiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 2px solid #3b3a3a;
    padding-top: 20px;
}

.logoutbtn {
    width: 50%;
    padding: 2px 5px;
    color: rgb(176, 174, 174);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    background-color: #000;
    border: none;
}

.logoutbtn:hover {
    width: 50%;
    padding: 2px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    background-color: #000;
    border-left: 4px red solid;
    border-radius: 2px;
}